<div [class]="article.isOnSale ? 'article-item sale mt-3' : 'article-item mt-3'">
  <div class="image">
    <img [src]="article.imageUrl | imgUrl" alt="foto d'aigua"/>
  </div>
  <div class="details mt-2 d-flex flex-column justify-content-between">
    <div> {{ article.name }} </div>

    <div class="py-2" [ngClass]="stockClasses">
      <span> {{ article.price | currency : 'EUR' : 'symbol' : '1.2-2' }} </span>
    </div>

    <div *ngIf="article.isOnSale" class="d-flex justify-content-evenly align-items-center">
      <button class="btn btn-primary btn-sm" [disabled]="article.quantityInCart == 0" (click)="removeInCart()"> - </button>
      <span> {{ article.quantityInCart }} </span>
      <button class="btn btn-primary btn-sm" (click)="addInCart()">+</button>
    </div>
  </div>
</div>