<nav class="navbar bg-secondary">
    <ul class="nav d-flex justify-content-center w-100 gap-4">
        <li class="nav-item ">
            <a class="nav-link text-white" routerLink="/login">Login</a>
        </li>
        <li class="nav-item ">
            <a class="nav-link text-white" routerLink="/register">Register</a>
        </li>
        <li class="nav-item ">
            <a class="nav-link text-white" routerLink="/article-list">Inici</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white" routerLink="/article-list">Articles</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white" routerLink="/article-new-reactive">Nou article reactiu</a>
        </li>
    </ul>
</nav>