<nav class="navbar bg-secondary">
    <ul class="nav d-flex justify-content-center w-100 gap-4">
        <li class="nav-item ">
            <a class="nav-link text-white" *ngIf="!userStore.isUserAuthenticated()" 
            routerLink="/login" routerLinkActive="active-link">Login</a>
        </li>
        <li class="nav-item" *ngIf="userStore.isUserAuthenticated()" >
            <a class="nav-link text-white" (click)="logout()">Logout</a>
          </li>
        <li class="nav-item ">
            <a class="nav-link text-white" routerLink="/register" routerLinkActive="active-link">Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white"
            routerLink="/article/list" routerLinkActive="active-link">Articles</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white"  
            routerLink="/article/create" routerLinkActive="active-link">Nou article reactiu</a>
        </li>
       
    </ul>
</nav>