<nav class="navbar bg-secondary">
    <ul class="nav d-flex justify-content-center w-100 gap-4">
        <li class="nav-item ">
            <a class="nav-link text-white" routerLink="/login" routerLinkActive="active">Login</a>
        </li>
        <li class="nav-item ">
            <a class="nav-link text-white" routerLink="/register" routerLinkActive="active">Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white"
            routerLink="/article/list" routerLinkActive="active">Articles</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white"  
            routerLink="/article/create" routerLinkActive="active">Nou article reactiu</a>
        </li>
    </ul>
</nav>